---
title: Defman's Projects
type: website
description: Defman's Project - different projects for different things.
name: Defman's Projects
js:
    - search
---
<%= partial "partials/search", locals: {file: "projects"} %>
<% current_page.children.each do |page| %>
<% next unless page.data.project %>
    <div class="container project" id="<%= page.data.project.id %>">
        <span class="title"><%= link_to page.data.project.name, page.url %></span>
        <span class="language"><%= page.data.project.lang %></span>
        <span class="tags"><i class="fa fa-tags"></i> <%= page.data.tags || "no tags" %></span>
        <div class="content description">
            <%= truncate_with_ellipses page.data.description, 150 %>
        </div>
    </div>
<% end %>
