<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# article: http://ogp.me/ns/article#">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    
    <meta name="theme-color" content="#FFFFFF">

    <title><%= current_page.data.title %></title>
    
    <% unless defined? current_page.data.og %>
        <%= partial "partials/og_meta" %>
    <% end %>
    <%= stylesheet_link_tag :base %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :"font-awesome" %>
    <% if content_for?(:layout) %>
        <%= yield_content :layout %>
    <% end %>
    <% current_page.data.css && current_page.data.css.each do |css| %>
        <%= stylesheet_link_tag :"#{css}" %>
    <% end %>
    
    <% if content_for?(:layout_js) %>
        <%= yield_content :layout_js %>
    <% end %>
    
    <% if current_page.data.js %>
        <%= javascript_include_tag :jquery %>
        <%= javascript_include_tag :"main.lib" %>
        
        <% current_page.data.extra && current_page.data.extra.each do |js| %>
            <%= javascript_include_tag :"#{js}" %>
        <% end %>
        
    <% end %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','/assets/javascripts/ga.js','ga');
    ga('create', 'UA-52157854-2','auto');
    ga('send','pageview');
  </script>
  </body>
</html>

