<% wrap_layout :base do %>
<% content_for :layout do %>
    <%= stylesheet_link_tag :index %>
    <%= stylesheet_link_tag :"highlight/styles" %>
<% end %>
<div class="overlay">
    <div class="wrap">
        <header>
            <div class="logo"><a href="/">Defman.me</a></div>
            <nav>
                <%= partial "partials/header" %>
            </nav>
        </header>
        <main>
            <%= yield %>
        </main>
    </div>
</div>
<footer>
    <div class="copyright">
        <%= link_to "defman.me &copy; 2016", "https://github.com/Defman21/defman.me" %>
        <br>
        Colors used: <a class="nonewline" href="/materia">Materia</a>
        <div class="dont-track-me">
            <span class="checkbox">Don't track me</span>
            <span class="description">I'm using Google Analytics on this site and
            if you don't want to be tracked, check the box.</span>
        </div>
    </div>
</footer>
<% end %>
