---
title: Defman - Schemes
description: Defman's schemes for Komodo
name: Defman's Schemes
js: yes
extra:
    - search
---
<%= partial "search", locals: {file: "schemes"} %>
<% current_page.children.each do |page| %>
    <div class="container scheme" id="<%= page.data.scheme.id %>">
        <span class="title"><%= link_to page.data.scheme.name, page.url %></span>
        <span class="comp">for Komodo <%= page.data.scheme.comp %></span>
        <div class="content">
            <%= truncate_with_ellipses page.data.description, 150 %>
        </div>
    </div>
<% end %>
