<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# article: http://ogp.me/ns/article#">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    
    <meta name="theme-color" content="#263238">

    <title><%= current_page.data.title %></title>
    
    <% unless defined? current_page.data.og %>
        <%= partial "og_meta" %>
    <% end %>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :index %>
    <%= stylesheet_link_tag :"highlight/styles" %>
    <%= stylesheet_link_tag :"font-awesome" %>
    
    <% current_page.data.css && current_page.data.css.each do |css| %>
        <%= stylesheet_link_tag :"#{css}" %>
    <% end %>
    
    <% if current_page.data.js %>
        <%= javascript_include_tag :jquery %>
        <%= javascript_include_tag :scrollTo %>
        <%= javascript_include_tag :"main.lib" %>
        
        <% current_page.data.extra && current_page.data.extra.each do |js| %>
            <%= javascript_include_tag :"#{js}" %>
        <% end %>
        
    <% end %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>

