<% wrap_layout :layout do %>
    <div class="container project" id="<%= current_page.data.project.id %>">
        <span class="title"><%= current_page.data.project.name %></span>
        <span class="language">Written in <%= current_page.data.project.lang %></span>
        <div class="content">
            <%= yield %>
        </div>
        <div class="links">
            <a class="github" href="//github.com/Defman21/<%= current_page.data.project.repo %>"><i class="fa fa-github"></i>
            Defman21/<%= current_page.data.project.name %> on GitHub</a>
        </div>
    </div>
<% end %>
