---
title: Defman's Blog
description: Defman's blog - articles about different things
js: yes
type: website
name: Defman's Blog
extra:
    - search
---
<%= partial "search", locals: {file: "articles"} %>
<% sorted = current_page.children.sort_by { |page| page.data.date } .reverse! %>
<% sorted[0...5].each do |page| %>
    <% y, m, d, h, min = page.data.date.to_s.match(/(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})/i).captures %>
    <div class="container article" id="<%= page.data.url %>">
        <span class="title"><%= link_to page.data.title, page.url %></span>
        <span class="timestamp"><i class="fa fa-clock-o"></i> <%= "#{y}/#{m}/#{d} #{h}:#{min}" %></span>
        <span class="tags"><i class="fa fa-tags"></i> <%= page.data.tags || "no tags" %></span>
        <div class="content">
            <%= truncate_with_ellipses page.data.description, 150 %>
        </div>
    </div>
<% end %>
<% if sorted.length > 5 %>
    <%= link_to "Next", "/blog/pages/2" %>
<% end %>
<% if sorted.length == 0 %>
    <div class="container" id="no-content">
        <span class="title">No content</span>
        <div class="content">
            There should be a 404 error, but it was not found.
            The content is not found as well.
        </div>
    </div>
<% end %>
