---
title: Defman's Blog
og: no
extra:
    - search
layout: :layout
---
<%= partial "partials/search", locals: {file: "articles"} %>
<% blogs.each do |page| %>
    <% y, m, d, h, min = page.data.date.to_s.match(/(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})/i).captures %>
    <div class="container article" id="<%= page.data.url %>">
        <span class="title"><%= link_to page.data.title, page.url %></span>
        <span class="timestamp"><i class="fa fa-clock-o"></i> <%= "#{y}/#{m}/#{d} #{h}:#{min}" %></span>
        <span class="tags"><i class="fa fa-tags"></i> <%= page.data.tags || "no tags" %></span>
        <div class="content">
            <%= truncate_with_ellipses page.data.description, 150 %>
        </div>
    </div>
<% end %>
<% unless last %>
    <% unless first %>
        <%= link_to "Prev", "/blog/pages/#{page-1}" %>
    <% end %>
<%= link_to "Next", "/blog/pages/#{page+1}" %>
<% else %>
<%= link_to "Prev", "/blog/pages/#{page-1}" %>
<% end %>